<head>
  <script src="/javascripts/webgazer.js" type="text/javascript" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script>
$( document ).ready(function() {
    console.log( "loaded!" );
    webgazer.begin(); // turns on wgazer
    webgazer.showPredictionPoints(true); //red dot
    setTimeout(function(){
      webgazer.end();
      alert("data saved");
    },3000);
    webgazer.setGazeListener(function(data, elapsedTime) {
      if (data == null){
        return;
      }
      console.log(data);
    });

});
</script>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
