<head>
  <script src="javascripts/webgazer.js" type="text/javascript" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script>
function Queue() {
  this.data = [];
}

Queue.prototype.add = function(record) {
  this.data.unshift(record);
}

Queue.prototype.remove = function() {
  this.data.pop();
}

Queue.prototype.first = function() {
  return this.data[0];
}

Queue.prototype.last = function() {
  return this.data[this.data.length - 1];
}

Queue.prototype.size = function() {
  return this.data.length;
}


$( document ).ready(function() {
    const recentQ = new Queue();
    for(i = 0; i < 10; i++){
      recentQ.add(400)
    }
    var yAxis = 0;
    webgazer.begin(); // turns on wgazer
    webgazer.showPredictionPoints(true); //red dot
    // setTimeout(function(){
    //   webgazer.end();
    //   alert("data saved");
    // },3000);

    function avgVal(){
      var sum = 0;
      for (x = 0; x < recentQ.size(); x++){
        sum += recentQ.data[x];
      }
      return sum / recentQ.size();
    }

    function scrollDown() {
      console.log("Scrolling down");
      console.log(avgVal() + 200);
      window.scrollBy(0, avgVal() + 200);
      resetQ();
    }

    function scrollUp(){
      console.log("Scrolling up");
      console.log(-1 * avgVal());
      window.scrollBy(0, (-1 * avgVal()));
      resetQ();
    }

    function resetQ(){
      for (j = 0; j < recentQ.size(); j++){
        recentQ.remove();
        recentQ.add(400);
      }
    }

    webgazer.setGazeListener(function(data, elapsedTime) {
      if (data == null){
        return;
      }
      yAxis = data.y;
      recentQ.remove();
      recentQ.add(yAxis);
      var upFlag = true;
      var downFlag = true;
      for (j = 0; j < recentQ.size(); j++){
        if (recentQ.data[j] < 200){
          downFlag = false;
          break;
        }
      }
      for (k = 0; k < recentQ.size(); k++){
        if (recentQ.data[k] > 500){
          upFlag = false;
          break;
        }
      }
      if (upFlag) {
        scrollUp();
      } else if (downFlag) {
        scrollDown();
      }

    });
$('#topButton').trigger('click');
// $('#botButton').css("display", "none");
// $('#rightBut').css("display", "none");
// $('#topButton').css("display", "none");
// $('#placeHolderAF').css("display", "none");
//
//   setTimeout(function(){
//     $('#topButton').css("display", "block");
//
//     for(a = 0; a < 5; a++){
//       $('#topButton').trigger('click');
//     }
//
//   $("#topButton").css("display", "none");
//   $('#botButton').css("display", "block");
//   for(b = 0; b < 10; b++){
//       $('#botButton').trigger('click');
//   }
//
//   $('#botButton').css("display", "none");
//   // $('#rightBut').css("display", "block");
//   //   for(c = 0; c < 10; b++){
//   //     $('#rightBut').trigger('click');
//   //   }
//   //
//   //
//   //
//   //   $('#rightBut').css("display", "none");
//   //   $('#placeHolderAF').css("display", "block");
//   //   for (var d = 0; d < 10; d++) {
//   //     $('#placeHolderAF').trigger('click');
//   //   }
//   //
//   //
//   //   $("#placeHolderAF").css("display", "none");
//
//     $('#mainP').text('DONE');
//
//   },5000);

  $("#placeHolderAF").click(function(){
    //webgazer.end();
  });

});
</script>
<style>
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 20px;
  width: 100px;
}
</style>
<div>
<div id="wrapper">
  <input type="button" id="topButton" value="LOOK ABOVE ME (No need to click me!)" style="float: right;">
</div>
<br>
<br>
<h1 style="text-align: center">{{title}}</h1>
<p style="text-align: center">Welcome to {{title}}</p>
<br>
<br>
<p style="text-align: center" id="mainP">The calibration will begin in 5 seconds</p>
<br>
<div id="wrapper">
  <input type="button" id="placeHolderAF" value="LOOK AT ME" style="float: right;">
</div>
<input type="button" id="rightBut" value="LOOK AT ME" style="float: right;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="wrapper">
  <input type="button" id="botButton" value="LOOK BELOW ME (No need to click me!)" style="float: right;">
</div>
</div>
