<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>

<body>
  <div class="container-fluid" id="wrapper">
    <!-- Title for the site -->
    <div class="row" id="mainTitle">
      <div class="col-md-4 offset-md-1">
        <div class="row">
          <img src="images/logo.png" id="title"/>
        </div>
        <div class="row" id="catchPhrase">
          <div class="col-md-10">
            Browse the web hands-free with a chrome extension
          </div>
        </div>
        <div class="row" id="description">
          <div class="col-md-10">
            Ocubrowse is an accessibility-focused Chrome extension that lets you
            browse the web using only your eyes. Look to the top of the screen to
            scroll up, to the bottom to scroll down, or hover over buttons in our
            overlay to click or go back a page. All of this is possible after a short
            calibration period to train our neural network.
           </div>
        </div>
        <div class="row" id="buttons">
          <div class="col-md">
            <a href="https://github.com/Warren-Partridge/ocubrowse" class="btn btn-secondary">Download</a>
            <button type="button" class="btn btn-secondary" style="margin-left:30px;">
              Callibrate
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/images/mike.png" id="mike"/>
      </div>
    </div>
  </div>
</body>
